= provide(:title, "#{@consultation.title} - ")
= content_for(:title, "#{@consultation.title} ")
= content_for(:image_url, full_url("/assets/images/home_logo.png"))
#consultation_show_pagenate
  = render partial: 'consultations/show'
