/* 子どもの情報詳細ページ */
.child_show{
  padding: 0 200px;
  min-width: 1400px;
}

.child_show_left{
  float: left;
  list-style: none;
}

.child_show_rigth{
  float: right;
  list-style: none;
}

.child_comment{
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px;
  &:before{
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #e0edff;
  }
  p {
    margin: 0;
    padding: 0;
  }
}
