/* 子どもの情報詳細ページ */
.child_show{
  padding: 0 200px;
  min-width: 1400px;
}

.child_show_left{
  float: left;
  list-style: none;
  text-align: center;
}

.child_show_rigth{
  float: right;
  list-style: none;
}

.child_image{
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
  img{
    float: left;
    margin-right: -50px;
    width: 100%;
    height: auto;
  }
  .comment{
    float: right;
    width: 100%;
    text-align: left;
    display: inline-block;
    position: relative;
    margin: 0 0 0 50px;
    padding: 10px;
    max-width: 250px;
    border-radius: 12px;
    background: #edf1ee;
  }
}
