/* 子どもの情報詳細ページ */
.child_show {
  padding: 50px 200px;
  min-width: 1400px;
  height: 500px;
  border-bottom: 1px solid #eaeaea;
}

.child_show_left {
  float: left;
  list-style: none;
  text-align: left;
}

.child_show_rigth {
  float: right;
  list-style: none;
  margin-top: 70px;
}

.child_image {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
  .image {
    float: left;
    margin-right: -50px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .comment {
    float: right;
    width: 100%;
    .say {
    display: inline-block;
    position: relative;
    margin: 0 0 0 200px;
    padding: 10px;
    max-width: 250px;
    border-radius: 12px;
    background: #edf1ee;
      &:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 3px;
      left: -19px;
      border: 8px solid transparent;
      border-right: 18px solid #edf1ee;
      -webkit-transform: rotate(35deg);
      transform: rotate(35deg);
      }
      h2 {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.comment {
  float: right;
  width: 100%;
  .say {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
    &:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #edf1ee;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    }
    h2 {
      margin: 0;
      padding: 0;
    }
  }
}

.birthday_consultation {
  float: right;
  margin: 10px 100px 50px 0;
  h2{
    text-align: center;
    margin-bottom: 50px;
  }
}
