// Place all the styles related to the Consultations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* 相談投稿フォーム */

.custom-checkbox input[type="checkbox"] {
  padding-top: 100px;
  width: 15px;
  margin: 10px;
}
.form-group {
  margin: 0;
  select {
    width: 100px;
    margin-right: 0;
  }
}

/* 相談詳細 */

.consultation_show {
  padding: 0;
  width: 1400px;
  margin: 0 auto;
  .consultation_body{
    margin-top: 30px;
    margin-left: 300px;
  }
  .box {
    display: block;
    width: 900px;
    height: 100%;
    padding: 50px;
    background-color: white;
  }
  .box_top{
    position: relative;
    .user {
      display: inline;
      position: relative;
      z-index: 1;
      float: left;
      ul {
        padding-left: 0;
      }
      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-indent:-999px;
        z-index: 2;
      }
      p{
        font-weight: 800;
        margin-top: 10px;
        text-align: center;
      }
    }
  }
  .box_bottom {
    display: inline;
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
    .category_tag {
      margin-left: -40px;
    }
    .post_time, .pv_count {
      color: #808080;
      margin-top: 10px;
    }
  }
  .content {
    width: 600px;
    position: relative;
    margin: 0 0 0 130px;
    padding: 10px;
    border-radius: 12px;
    background: #edf1ee;
    box-sizing: border-box;
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 40px;
        left: -28px;
        border: 10px solid transparent;
        border-right: 26px solid #edf1ee;
        -webkit-transform: rotate(32deg);
        transform: rotate(32deg);
      }
      h2 {
        font-weight: 800;
        text-decoration : underline;
        display: inline;
      }
      a {
        margin-right: 100px;
      }
      .Reception{
        float: right;
        display: inline;
        margin: 20px;
        font-size: 20px;
        font-weight: 800;
        color: green;
        .Reception_close {
          color: red;
        }
      }
    }
    .sentence {
      width: 550px;
    }
  .consultation_link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    a {
      margin-right: 10px;
    }
  }
  .btn {
    margin: 20px;
    text-align: center;
  }
  .btn-default {
    background: #3399FF;
    color: white;
    font-weight: 800;
  }
  img{
    border-radius: 50%;
  }
  .non_comment {
    margin-top: 50px;
    width: 900px;
    text-align: center;
    i {
      color: silver;
    }
  }
}

/* 相談一覧 */

.consultation-index {
  float: left;
  position:relative;
  margin: 10px auto;
  .unfind {
    width: 800px;
    text-align: center;
    i {
      text-align: center;
      color: silver;
    }
    h3 {
      margin: 0 auto;
    }
  }
}

.category {
  margin: 100px 40px 100px 40px;
  float: left;
  .box {
    margin: 10px 0 0 0;
    background-color: white;
    display: block;
    width: 200px;
    height: 100%;
    padding: 10px;
    border-radius: 30px;
  }
  .radio .col {
    margin-left: 30px;
    font-weight: 800;
    input {
      float: left;
      width: auto;
    }
  }
  details {
    transition: .5s;
    height: 25px;
    &[open] {
      height: 500px;
    }
    summary {
      cursor: pointer;
      width: 100%;
      font-weight: 800;
      text-align: center;
      font-size: 18px;
    }
  }
  h4 {
    font-weight: 800;
    text-align: center;
  }
  .vote_search {
    display: none;
  }
}

.category-index {
  :hover{
    background-color: #C0C0C0;
    border-radius: 10px;
  }
  button {
    background-color: white;
    width: 100%;
    }
  img {
    display: inline;
    float: left;
    margin: auto;
  }
  p {
    margin: auto;
    margin-left: 5px;
    font-weight: 800;
    display: inline;
    float: left;
  }
}

.particular-case {
  display: inline;
  margin-top: 5px;
  .box {
    background-color: white;
    margin-top: 5px;
    position:relative;
    display: block;
    width: 700px;
    height: 180px;
    padding: 10px;
    border: solid 1px #666666;
    box-shadow: 3px 3px 4px -3px;
    .danger, .success {
      border-radius: 100vh;
      color: white;
      position: absolute;
      top: 10px;
      right: 200px;
      p {
        margin: 2px;
        font-weight: 800;
      }
    }
    .danger{
      color: red;
    }
    .success {
      color: green;
    }
    .hukidashi {
      position: absolute;
      top: 30px;
      right: 30px;
    }
    .check {
      position: absolute;
      top: 80px;
      right: 30px;
    }
    h4 {
      font-weight: 800;
      text-decoration : underline;
      display: inline;
      font-size: 20px;
    }
    .content {
      margin-top: 10px;
      width: 500px;
      color: #666666;
    }
    li.category_tag {
      display: inline;
      position: absolute;
      left: -20px;
      bottom: 50px;
    }
    .comment_count {
      position: absolute;
      top: 40px;
      right: 45px;
      p {
        margin-bottom: 0;
      }
      .count {
        text-align: center;
        font-weight: 800;
        margin-top: 0;
      }
    }
    .pv_count {
      position: absolute;
      left: 20px;
      bottom: 10px;
      font-weight: 800;
    }
    .user {
      position: absolute;
      right: 5px;
      bottom: 10px;
      i {
        margin-right: 5px;
      }
    }
  }
}

.category_tag {
  li {
    float: left;
    i {
      color: #777777;
      margin-right: 5px;
    }
    .btn-secondary {
      margin-right: 5px;
      color: #fff;
      font-weight: 800;
      background-color: #777777;
      border-radius: 100vh;
      border-width: 0;
      &:hover {
        background-color: #888888;
        border-radius: 100vh;
        margin-right: 5px;
      }
    }
  }
}
