@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* 共通 */

body {
  font-family: Amatic SC;
  overflow-x: scroll;
  min-width: 1400px;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック";
  background: image-url('background.png');
}

ul {
  list-style: none;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}

.container {
  width: 100%;
  margin-top: 50px;
  padding: 0;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.page {
  width: 100%;
  text-align: center;
}

.pagination {
  display: inline-block;
  box-shadow: 3px 3px 4px -3px;
  margin-left: auto;
  margin-right: auto;
}

.pagination>li>a {
  color: #A7C278;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}
.btn-warning {
  background-color: #F08800;
}
/* ヘッダー */
header{
  min-width: 1100px;
  background-color: #FABB00;
  width: 100%;
  height: 50px;
  padding: 0 50px;
  margin: 0;
  position: fixed;
  top:0;
  z-index:10;
  .header{
    position: fixed;
    top:0;
    left: 50%;
    transform: translate(-50%);
    width: 1400px;
    margin: auto;
  }
  .header-left{
    margin-top: 0;
    margin-left: 10px;
    li{
      float: left;
      list-style: none;
      color: white;
    }
  }
  .header-right{
    float: right;
    font-weight: 800;
    margin-right: 90px;
    li{
      float: left;
      list-style: none;
      padding-left: 20px;
      padding-right: 20px;
      i {
        color: black;
      }
      a.white {
        color: white;
        :hover {
          color: white;
        }
      }
    }
    img{
      border-radius: 50%;
    }
  }
}

#logo {
  float: left;
  margin-left: 50px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
.search-form{
  display: table-cell;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 60px;
  box-sizing: border-box;
  input[type="text"]{
    border: 1px solid #999;
    padding: 3px 5px;
    border-radius: 20px;
    height: 2.0em;
    width: 245px;
    overflow: hidden;
    color: black;
  }
  button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    margin-left: -30px;
    width: auto;
    height: auto;
    color: gray;
    border: none;
  }
}

/* ホーム */
.non_login {
  position: relative;
  .home_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1{
      text-align: left;
      font-weight: 900;
      color: #8B0000;
    }
  }
}
.item {
  margin: 0 auto;
  width: 1400px;
}

.tabs{
  display: inline-block;
  width: 800px;
  margin: 10px auto;
  position:relative;
}
.tab-buttons {
  span {
  color:#333;
  font-weight: 800;
  cursor:pointer;
  border-bottom:2px solid #ddd;
  display:block;
  width:50%;
  float:left;
  text-align:center;
  height:40px;
  line-height:40px;
  }
}
.tab-content{
  padding:15px;
  display:inline-block;
  color:#333;
  margin: 0 auto;
  .unfind {
    margin-top: 50px;
    width: 800px;
    text-align: center;
    i {
      text-align: center;
      color: silver;
    }
  }
}
#lamp{
  width:50%;
  height:2px;
  background:#333;
  display:block;
  position:absolute;
  top:40px;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}
#lamp.content2{
  left:50%;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}
#lamp.content1{
  left:0;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}

/* フッター */
.footer {
  width: 1400px;
  margin: 0 auto;
}
footer{
  clear: both;
  position: relative;
  margin-top: 100px;
  background-color: #FFCC00;
  color: white;
  height: 250px;
  .left{
    float: left;
    padding-top: 20px;
    margin-left: 100px;
    p {
      margin-left: 20px;
      font-weight: 800;
      display: block;
    }
    .icon {
      margin-top: 10px;
      display: block;
      i {
        margin-left: 20px;
      }
    }
  }
  .copylight{
    float: left;
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    padding: 0;
    color: #777;
  }
  .right {
    float: right;
    margin-right: 100px;
    margin-top: 30px;
    li{
      margin-top: 30px;
      a {
        font-weight: 800;
        color: white;
        :hover {
          color: white;
        }
      }
    }
  }
}
/* 検索画面 */

.search {
  margin: 0 auto;
  width: 1400px;
}

/* フォーム */
.form{
  margin: 0 auto;
  width: 500px;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
label{
  font-size: 15px;
  margin: 5px;
}

/* 通知メッセージ */
#error_explanation{
  color: red;
  font-weight: 800;
}

p.alert {
  width: 100%;
  margin: 0 auto;
  font-weight: 800;
  text-align: center;
}

/* デバッグ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
