@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* 共通 */

body {
  font-family: Amatic SC;
  overflow-x: scroll;
  min-width: 1400px;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック";
}

ul {
  list-style: none;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}

.container {
  width: 100%;
  margin-top: 50px;
  padding: 0;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* ヘッダー */
header{
  min-width: 1000px;
  background-color: #8B0000;
  width: 100%;
  height: 50px;
  padding: 0 50px;
  margin: 0;
  position: fixed;
  top:0;
  z-index:10;
  .header-left{
    li{
      float: left;
      list-style: none;
      color: white;
    }
  }
  .header-right{
    float: right;
    li{
      float: left;
      list-style: none;
      padding-left: 20px;
      padding-right: 20px;
      img{
        margin-right: 7px;
        border-radius: 50%;
      }
      b{
        margin-left: 7px;
      }
      i {
        margin-right: 5px;
        color: black;
      }
    }
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-bottom: 9px;
  font-weight: bold;
}
.search-form{
  display: table-cell;
  vertical-align: middle;
  margin-left: 60px;
  padding-top: 10px;
  box-sizing: border-box;
  input[type="text"]{
  border: 1px solid #999;
  padding: 3px 5px;
  border-radius: 20px;
  height: 2.0em;
  width: 245px;
  overflow: hidden;
  }
}

/* ホーム */
.non-login{
  background: image-url('house.jpg');
  height: 900px;
  width: 100%;
  background-size: cover;
  .home-logo{
    position: absolute;
    top: 300px;
    left: 30px;
    color: brown;
    h3{
      font-weight: 800;
      padding-left: 40px;
    }
  }
  .home_login{
    width: 300px;
    float: right;
    margin: 300px 100px;
    p{
      font-weight: 800;
    }
  }
}

/* フッター */
footer{
  clear: both;
  margin: 45px 0;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  li{
    list-style: none;
    float: left;
    padding: 0 10px;
  }
  .copylight{
    float: right;
    padding:0 50px;
  }
}

/* フォーム */
.form{
  margin: 0 500px;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
label{
  font-size: 15px;
  margin: 5px;
}

/* 通知メッセージ */
#error_explanation{
  color: red;
  font-weight: 800;
}
.alert{
  margin: 0;
  font-weight: 800;
}


/* デバッグ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
